body{
font-family: 'Rhodium Libre', serif;
font-size: 16px;
    box-sizing: border-box;
    background: linear-gradient(109.6deg, rgba(17, 151, 147,0.8) 11.2%, rgba(154, 214, 212, 0.3) 55.4%, rgba(255, 233, 171, 0.9) 100.2%), url("/src/photos/dictionarycafe.jpg");
   background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 80%;
}
.App-header h1{
    font-family: 'Reenie Beanie', cursive;
    font-weight: 800;
    text-align: center;
    font-size: 56px;

}
section {
    background: rgba(237, 241, 241, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow:5px 0 10px rgba(164, 164, 165, 0.5);
}
footer span{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Reenie Beanie', cursive;
}
footer a{
    color: rgb(11, 185, 180);
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
footer a:hover{
   opacity: 0.7;
}

@media screen and (max-width: 800px) {
    body{
        font-size: 14px;
    }
   .container{
    width: 90%;

   }
   .App-header h1{
    font-size: 38px;
   }

}