.Dictionary input{
    font-size: 20px;
}
.secondheading{
    font-family: 'Reenie Beanie', cursive;
    font-weight: 500;
    font-size: 38px;
    margin-bottom : 20px;
    
}
p{
    margin: 0;
}
.hint{
    color: rgb(100, 17, 68);
    font-style: italic;
    opacity: 0.7;
}
@keyframes typing {
    from {
      width: 0; 
    }
    to {
      width: 100%; 
    }
  }
  
  .typingText {
    overflow: hidden; 
    animation: typing 5s steps(40, end); /* Set the animation duration and steps */
    white-space: nowrap; 
    border-right: 2px solid; 
  }
  @media  screen and (max-width: 600px) {
    .secondheading{
      font-size: 24px;
    }
    .Dictionary input{
      font-size: 18px;
  }
  }